@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

section{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    

}

header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    border-bottom-right-radius: 70%;
    z-index: -1;
    
}

header::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

header:hover::after{
    left: 100%;
}

header .logo{
    max-width: 100px;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

header .navbar{
    text-align: center;
    top: 0;
    left: 0;    
    width: 100%;
    height:10%; 
}

header .navbar a{
    font-size: 1.15rem;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    margin-left: 6%;
}

#check{
    display: none;
}

.icons{
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    color: #fff;
}

.cercle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;   
    height: 100%;  
    background: #3090d9;
    clip-path: circle(600px at right 500px);
 }


 
.container{
    margin-top: 10px;
    margin-bottom: 30px;     
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .texte{
    position: absolute;
    max-width: 500px;
}

.container .texte h2{
    color: #fff;
    font-size: 1.7em;
    line-height: 40px;
    font-weight: 400;
}

.container .texte h2 span{
    color: #e60d0d;
    font-size: 50px;
    font-weight: 600;
}

.container .texte p{
    color: #fff;
    
}

.container .texte a{
    margin-bottom: 10px;
    padding: 8px 20px;
    color: #fff;
    background: #e60d0d;
    border-radius: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    max-width: 50px;
   
}

.iconwhatsapp{
    text-align: center;
}

.container .imgBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 5%;

}

.container .imgBox img{
    padding: 5px;
    max-width: 700px;
}

ul.catalogue{
   
    text-align: center;
    margin-top: 3%;
       
}

.catalogue{
    position: absolute;  
    transform: translateX(-50);
    display:block;
    width: 100%;
    align-items: center; 
    flex-direction: row; 
    bottom: 50px;
    
}

.catalogue li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    transform: 0.5s;
}

.catalogue li:hover{
    transform: translateY(-20px);
}

.catalogue li img{
    width: 80px; 
}


.reseau{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.reseau li{
    list-style: none;
}

.reseau li a{
   display: inline-block;
   margin: 5px 0;
   transform: scale(0.6); 
}

.reseau li img{
   max-width: 50px; 
}

/* Responsive */
@media (max-width: 992px) {
    header{
        padding: 1.3rem 5%;
    }

    section{
        display: flex;
    }

    .cercle{
        clip-path: circle(320px at right 230px);
        margin-top: 6%;
    }

    .container .imgBox img{
        padding: 5px;
        width: 450px;
    }

    .catalogue{
        position: absolute;
        padding: 1.3rem 10%;
        top: 70%;
        transform: translateX(-50);
        display:flex;
        flex-direction: column;
    }

    .catalogue li{
        margin: 0 4px;
    }

    .catalogue li img{
        width: 60px; 
     }

     .container .texte a{
        font-size: 8px;
        letter-spacing: 1px;
        align-items: center;
    }

    ul.catalogue{       
        margin-bottom: 10%;
        text-align: center;
        display:inline-block;      
           
    }
}

@media(max-width: 768px){
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none; 
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;        
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
       
    }

    #check:checked~.navbar{
        height: 17.7rem;
    }
    header .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;        
    }

    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));       
    }

    .cercle{
        clip-path: circle(300px at right 250px);
        margin-top: 5%;
    }

    .container{ 
        position: absolute;
        margin-bottom: 300px;
        margin-top: 40%;
        width: 100%;
        /* justify-content:end;         */
        align-items:center;
    }

    .container .imgBox{
        width: 100%;
        justify-content:center;        
        margin-top: 5px;
        
    
    }

    .container .imgBox img{
        padding: 5px;
        width: 300px;
        margin-bottom: 200px;
        margin-left: 25%;
    }

    .container .texte{
        position: relative;
        width: 300px;
        text-align: left;
        margin-bottom: 50px;
        margin-top: 1%;
        margin-left: 5%;
    }
    
    .container .texte h2{    
        color: #fff;
        font-size: 1.2em;
        line-height: 20px;
        font-weight: 250;
    }

    .container .texte p{
        color: #fff;
        font-size: 12px;
        font-weight: 200;
    }
    
    .container .texte h2 span{
        color: #e60d0d;
        font-size: 30px;
        line-height: 30px;
    }

    .container .texte a{
        font-size: 10px;
        letter-spacing: 1px;
    }

    .catalogue{
        width: 100%;
        align-items: center; 
        flex-direction: row;
        position: absolute;
        /* padding: 1.3rem 1.2rem; */
        bottom: 20px;
        transform: translateX(-50);

    }

    .catalogue li{
        margin: 0 2px;
    }

    .catalogue li:hover{
        transform: translateY(-20px);
    }
    
    .catalogue li img{
        width: 60px; 
     }
    ul.catalogue{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 1%;
        display:inline-block;       

        
        

    }
    
 }

 @media (max-width: 576px){
    header .logo{
        max-width: 50px;
        font-size: 1rem;
        cursor: pointer;
        font-weight: 350;
        text-decoration: none;
    }

    .icons{
        right: 5%;
        font-size: 1.2rem;
        cursor: pointer;        
        color: #fff;
    }

    .cercle{
        clip-path: circle(200px at right 140px);
        margin-top: 4%;
    }
        
    header .navbar a{
        font-size: 0.75rem;
        text-decoration: none;
        color: #fff;
        font-weight: 250;
        margin-left: 6%;
    }

    .container{ 
        position: absolute;
        margin-bottom: 100px;
        margin-top: 7%;
        width: 100%;
        justify-content:center;
        align-items: center;
    }


    .container .imgBox{
        width: 100%;
        justify-content:center;        
        margin-top: 5px;
        
    
    }

    .container .imgBox img{
        padding: 5px;
        width: 250px;
        margin-bottom: 300px;
    }

    .container .texte{
        position: absolute;
        width: 250px;
        text-align: left;
        margin-bottom: 20px;
        margin-right: 100px;
    }
    
    .container .texte h2{    
        color: #fff;
        font-size: 0.7em;
        line-height: 20px;
        font-weight: 160;
    }

    .container .texte p{
        color: #fff;
        font-size: 10px;
        font-weight: 160;
    }
    
    .container .texte h2 span{
        color: #e60d0d;
        font-size: 20px;
        line-height: 20px;
    }

    .container .texte a{
        font-size: 8px;
        margin-bottom: 20px;
        width: 30px;
    }

    .catalogue{
        width: 100%;
        align-items: center; 
        flex-direction: row;
        position: absolute;
        /* padding: 1.3rem 1.2rem; */
        bottom: 20px;
        transform: translateX(-50);

    }

    ul.catalogue{
        top: 55%;        
    }

    .catalogue li img{
        width: 50px; 
    }

    .reseau {
        position: absolute;
        top: 45%;
        right: 10px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

      .reseau li img{
        max-width: 40px; 
     }
    

 }


